<footer>
    <div class="footerContent">
        <ul class="listHorizontal clearfix" data-metrics-module="ftr">
            <li>
                <div class="logo"><a data-metrics-link="logo" href="http://www.webmd.com" title="WebMD"><img
                                src="http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/usability/2012/LBi_Masthead/logo_trans.png"
                                alt="WebMD Logo"></a></div>
            </li>
            <li class="links">
                <ul class="listHorizontal" id="footerItems">
                    <li>
                        <ul class="about" data-metrics-section="1" data-metrics-sel="li:nth-child(n+2)">
                            <li><h5>About</h5></li>
                            <li><a href="http://www.webmd.com/about-webmd-policies/default.htm?ss=ftr">About WebMD</a>
                            </li>
                            <li>
                                <a href="https://customercare.webmd.com/ics/support/default.asp?deptID=18003&amp;task=ticket">Contact
                                    Us</a></li>
                            <li><a href="http://www.webmd.com/click?url=https://careers-webmd.icims.com/">Careers</a>
                            </li>
                            <li><a href="https://member.webmd.com/newsletters/newsletters.aspx">Newsletter</a></li>
                            <li><a href="http://www.wbmd.com/">Corporate</a></li>
                            <li><a href="http://www.webmdhealthservices.com/">WebMD Health Services</a></li>
                            <li><a href="http://www.webmd.com/site-map?ss=ftr">Site Map</a></li>
                            <li><a href="http://www.webmd.com/about-webmd-policies/about-privacy-policy?ss=ftr">Privacy
                                    Policy</a></li>
                            <li>
                                <a href="http://www.webmd.com/about-webmd-policies/about-terms-and-conditions-of-use?ss=ftr">Terms
                                    of Use</a></li>
                            <li><a href="http://www.webmd.com/about-webmd-policies/accessibility-statement?ss=ftr">Accessibility</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="network" data-metrics-section="2" data-metrics-sel="li:nth-child(n+2)">
                            <li><h5>WebMD Network</h5></li>
                            <li><a href="http://www.webmd.com/click?url=http://www.medscape.com/">Medscape</a></li>
                            <li><a href="http://www.webmd.com/click?url=http://reference.medscape.com/">Medscape
                                    Reference</a></li>
                            <li><a href="http://www.webmd.com/click?url=http://www.medicinenet.com/">MedicineNet</a>
                            </li>
                            <li>
                                <a href="http://www.webmd.com/click?url=http://www.emedicinehealth.com/script/main/hp.asp">eMedicineHealth</a>
                            </li>
                            <li><a href="http://www.webmd.com/click?url=http://www.rxlist.com/">RxList</a></li>
                            <li><a href="http://www.webmd.com/click?url=http://www.webmd.boots.com/">BootsWebMD</a></li>
                            <li><a href="http://www.webmd.com/first-aid/default.htm">First Aid</a></li>
                            <li><a href="http://www.webmd.com/magazine/default.htm?ss=ftr">WebMD Magazine</a></li>
                            <li><a href="http://www.webmd.com/phr">WebMD Health Record</a></li>
                            <li><a href="http://www.webmd.com/mobile">WebMD Mobile</a></li>
                            <li><a href="http://dictionary.webmd.com/default.htm">Dictionary</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="apps" data-metrics-section="3" data-metrics-sel="li:nth-child(n+2)">
                            <li><h5>Our Apps</h5></li>
                            <li><a href="http://www.webmd.com/mobile">WebMD Mobile</a></li>
                            <li><a href="http://www.webmd.com/webmdapp">WebMD App</a></li>
                            <li><a href="http://www.webmd.com/pregnancyapp">Pregnancy</a></li>
                            <li><a href="http://www.webmd.com/webmdbabyapp">Baby</a></li>
                            <li><a href="http://www.webmd.com/allergy-app">Allergy</a></li>
                            <li><a href="http://www.webmd.com/webmdpaincoachapp">Pain Coach</a></li>
                            <li><a href="http://www.webmd.com/magazineapp">WebMD Magazine</a></li>
                            <li><a href="http://www.webmd.com/click?url=http://www.medscape.com/public/mobileapp">Medscape</a>
                            </li>
                            <li><a href="http://www.webmd.com/click?url=http://theheart.org/public/about-mobile.do">TheHeart</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="sponsors" data-metrics-section="4" data-metrics-sel="li:nth-child(n+2)">
                            <li><h5>For Sponsors</h5></li>
                            <li><a href="http://www.webmd.com/about-webmd-policies/media/default.htm">Advertise with
                                    Us</a></li>
                            <li><a href="http://www.webmd.com/about-webmd-policies/about-our-sponsors?ss=ftr">Sponsor
                                    Policy</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="other floatRight">
                <ul class="social listHorizontal">
                    <li><a data-metrics-link="fb" class="fb"
                           href="http://www.webmd.com/click?url=http%3A//www.facebook.com/%23!/WebMD%3Fref=ts"></a></li>
                    <li><a data-metrics-link="tw" class="tw"
                           href="http://www.webmd.com/click?url=http%3A//twitter.com/WebMD"></a></li>
                    <li><a data-metrics-link="pt" class="pt"
                           href="http://www.webmd.com/click?url=http%3A//pinterest.com/webmd/"></a></li>
                </ul>
                <ul class="disclaimers clearfix">
                    <li class="certificate"><a data-metrics-link="urac"
                                               href="http://www.webmd.com/click?url=https://www.urac.org/directory/CompanyView.aspx?cid=C8700000F48&amp;aid=1951&amp;Type=Accreditnet"><img
                                    src="http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/layout/shared/URAC_trans.gif"
                                    title="URAC Health Website Accreditation" alt="URAC Seal Image"></a></li>
                    <li class="certificate"><a data-metrics-link="trust"
                                               href="http://www.webmd.com/click?url=https://privacy.truste.com/privacy-seal/WebMD,-LLC/validation?rid=7b3bf16d-37b4-42e0-aec7-836ef1d3680d"><img
                                    src="http://privacy-policy.truste.com/privacy-seal/WebMD,-LLC/seal?rid=80c33c7c-da0b-4788-8236-61a318f00f4c"
                                    alt="TRUSTe Seal Image" title="TRUSTe online privacy certification"></a></li>
                    <li class="certificate"><a data-metrics-link="hon"
                                               href="http://www.webmd.com/click?url=http://www.hon.ch/HONcode/Conduct.html%3FHONConduct298987"><img
                                    src="http://www.honcode.ch/HONcode/Seal/HONConduct298987_s1.gif"
                                    alt="Honcode Seal Image"
                                    title="This site complies with the HONcode standard for trustworthy health information."></a>
                    </li>
                    <li class="certificate"><a href="#" class="logo_AdChoices">AdChoices</a></li>
                    <script>
                        // ad choices link
                        $(function () {
                            var fileNameToLoad = '//preferences.truste.com/webservices/js?type=webmd&domain=webmd';
                            if (webmd.useragent.ua.browser === 'browserSF') {
                                fileNameToLoad = '//preferences.truste.com/webservices/js?domain=webmdsafari.com&type=webmdsafari&js=2';
                            }
                            webmd.load({js: [fileNameToLoad, '//privacy-policy.truste.com/privacy-seal/WebMD,-LLC/asc?rid=f733a173-6d11-4e17-ba9f-f1454ef8b32f']});

                            $('.logo_AdChoices').click(function () {
                                var TRUSTeWidget = window.TRUSTeWidget || {};
                                wmdPageLink('adchoices');
                                TRUSTeWidget.Tab.link();
                                return false;
                            });
                        });
                    </script>
                </ul>
            </li>
            <li class="disclaimer floatLeft" data-metrics-module="disclaimer">©2005-2015 WebMD, LLC. All rights
                reserved.<br>WebMD does not provide medical advice, diagnosis or treatment. <a rel="nofollow"
                                                                                               href="http://www.webmd.com/policies/additional-info?ss=ftr"
                                                                                               data-metrics-link="info">See
                    additional information</a>.
            </li>
        </ul>
    </div>
</footer>