<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta charset="UTF-8"/>
<meta name="description"
      content="The leading source for trustworthy and timely health and medical news and information. Providing credible health information, supportive community, and educational services by blending award-winning expertise in content, community services, expert commentary, and medical review."/>
<meta name="keywords"
      content="WebMD,www.webmd.com,web md,health,pregnancy,medical research,medical information/webm,prevention,disease,health care,healthcare,health information,health news,healthcare information,drug information,cancer,diabetes,depression,asthma,medical library,cholesterol,herpes,bipolar,diet,weight loss"/>
<meta http-equiv="CACHE-CONTROL" content="NO-CACHE"/>

<meta property="og:title" content="WebMD - Better information. Better health."/>
<meta property="og:description"
      content="The leading source for trustworthy and timely health and medical news and information. Providing credible health information, supportive community, and educational services by blending award-winning expertise in content, community services, expert commentary, and medical review."/>
<meta property="og:image"
      content="http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/logos/webmd/web/webmd-logo-fb.jpg"/>
<meta property="og:url" content="http://www.webmd.com/default.htm"/>
<meta property="og:site_name" content="WebMD"/>
<meta property="og:type" content="article"/>
<meta property="og:locale" content="en_US"/>
<meta property="fb:app_id" content="385978254785998"/>
<meta property="article:author" content="https://www.facebook.com/WebMD"/>
<meta property="article:publisher" content="https://www.facebook.com/WebMD"/>

<title><%= title %></title>


<link rel='stylesheet' href='/css/style.css'/>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script data-main="js/main" src="bower_components/requirejs/require.js"></script>
