<!--<ul>-->
    <!--<% for(var i=0; i<supplies.length; i++) {%>-->
    <!--<li><%= supplies[i] %></li>-->
    <!---->
    <!--<li><%= link_to(supplies[i], 'supplies/'+supplies[i]) %></li>-->
    <!--<li><%= img_tag('maid.jpg') %></li>-->
    <!--<% } %>-->
<!--</ul>-->

<!--<% include contentPane12/editorial1 %>-->
<!--<% include contentPane12/editorial2 %>-->
<!--<% include contentPane12/linklist %>-->


